* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #000;
}

:root {
    --cor-elementos:#BBBABB;
    --cor-background: #EEECEE;
}

body {
    background-color: var(--cor-background);
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    background-color: var(--cor-elementos);
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 100px;
    flex-wrap: wrap;
}

.cabecalho nav {
    display: flex;
    align-items: center;
}
.cabecalho nav .menu {
    display: flex;
}

.cabecalho nav .menu li {
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.cabecalho nav .menu li a {
    transition: 0.3s ease-in-out;
}

.cabecalho nav .menu li a:hover {
    background-color: lightgray;
    padding: 10px 3px;
    border-radius: 20px;
}

.cabecalho nav .btn-search {
    margin-left: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px;
}

.container {
    display: flex;
    margin-top: 30px;
    max-width: 1000px;
    margin: 30px auto;
    flex-wrap: wrap;
}

.container .noticia {
    background-color: white;
    height: 350px;
    max-width: 300px;
    padding: 15px;
    margin: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.3s ease-in-out;

}

.container .noticia:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.267);
}

.container .noticia .titulo-noticia {
    font-size: 16px;
    margin-bottom: 10px;
}

.container .noticia .texto {
    text-align: justify;
}

.container .noticia .btn-noticia {
    background-color: var(--cor-elementos);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.container .noticia .btn-noticia:hover {
    background-color: lightgray;
}

.rodape {
    background-color: var(--cor-elementos);
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
}

@media (max-width: 915px) {
    .cabecalho .logo {
        margin-bottom: 30px;
    }

    .container {
        max-width: 650px;
    }
}

@media (max-width: 740px) {
    .cabecalho { 
        flex-direction: column;
    }

    .cabecalho nav {
        display: block;
        text-align: center;
    }

    .cabecalho nav .menu {
        flex-direction: column;
        text-align: center;
        margin: 10px;
    }

    .cabecalho nav .menu li {
        margin: 10px;
    }

    .cabecalho nav .btn-search {
        margin-left: 0;
    }
}